h5py==3.10.0
keras==2.15.0
Keras-Preprocessing
numpy
opencv-python==4.9.0.80
pandas==2.2.1
streamlit==1.32.2
streamlit-cropper==0.2.2
streamlit-webrtc==0.47.6
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
tornado==6.4
traitlets==5.14.2
typing_extensions
tzdata==2024.1
tzlocal==5.2
urllib3
validators==0.24.0
watchdog==4.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug
wrapt
yarg==0.1.9
yarl
